@charset "UTF-8";

/* 共通部分
--------------------------- */
html {
	font-size: 100%;
}

body {
	line-height: 1;
	color: #ffffff;
	background-color: #0071BC;
}

.container {
	max-width: calc(100vw - 8vw);
	margin: auto;
}

.font-english {
	font-family: gamay, sans-serif;
	font-style: normal;
}

.font-japanese {
	font-family: zen-kaku-gothic-new, sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #ffffff;
}

a:hover {
	color: #a3a3a3;
}

img {
	max-width: 100%;
}

.page {
	display: none;
}

.page.active {
	display: block;
}

/* ランナー・ゲート */
.runner {
	background-color: #0071BC;
}

.runner-gate_x {
	width: 2.5vw;
	position: relative;
}

.runner-gate_y {
	height: 2.5vw;
	position: relative;
}

.gate_x {
	height: 0.3vw;
	width: 2.5vw;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.gate_y {
	height: 2.5vw;
	width: 0.3vw;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.runner-top {
	height: 2vw;
	width: 1vw;
	border-bottom-left-radius: 1vw;
	border-bottom-right-radius: 1vw;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}

.runner-bottom {
	height: 2vw;
	width: 1vw;
	border-top-left-radius: 1vw;
	border-top-right-radius: 1vw;
	position: absolute;
	left: 50%;
	bottom: 0;
	transform: translateX(-50%);
}

.runner-left {
	height: 1vw;
	width: 2vw;
	border-top-right-radius: 1vw;
	border-bottom-right-radius: 1vw;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.runner-right {
	height: 1vw;
	width: 2vw;
	border-top-left-radius: 1vw;
	border-bottom-left-radius: 1vw;
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
}

.runner_y {
	width: 1vw;
	height: 100%;
}

.runner_x {
	height: 1vw;
}

.runners {
	height: 2.5vw;
}

/* デスクトップ版
--------------------------- */
/* @media (min-width: 800px) { */

/* ヘッダー */
.icon {
	width: 70px;
}

.main-nav {
	display: flex;
	list-style: none;
	font-weight: 500;
	letter-spacing: 0.4rem;
	font-size: 1.7rem;
	gap: 4vw;
}

.page-header {
	display: flex;
	position: fixed;
	justify-content: space-between;
	align-items: center;
	width: 92vw;
	height: 110px;
}

/* フッター */
footer {
	height: 4vw;
	display: flex;
	justify-content: center;
	align-items: center;
}

h5 {
	font-weight: 200;
	font-size: 0.8vw;
	letter-spacing: 0.2vw;
}

#home footer {
	position: fixed;
	bottom: 0%;
	width: 92vw;
}

/* ホーム */
.home-container {
	position: fixed;
	height: 45vw;
	width: 92vw;
	top: 110px;
	background-color: #ffffff;
	overflow: scroll;
	border-radius: 2vw;
}

.home-title {
	width: fit-content;
}

h1 {
	font-size: 10vw;
	margin: -2.25vw 0 -0.5vw;
	color: #0071BC;
}

.p {
	margin-left: -0.6vw;
	margin-right: -0.2vw;
}

.o {
	margin-left: -0.3vw;
	margin-right: -0.3vw;
}

.r {
	margin-left: -0.6vw;
	margin-right: -0.3vw;
}

.f {
	margin-left: -0.6vw;
	margin-right: -0.1vw;
}

.l {
	margin-left: -0.5vw;
	margin-right: -0.1vw;
}

.title-gap {
	display: flex;
	gap: 1.5vw;
}

.home-title .runner_x {
	border-bottom-right-radius: 0.5vw;
}

.letter_p .runner-gate_1 {
	left: 15%;
}

.letter_r .runner-gate_1 {
	left: 16%;
}

.letter_r .runner-gate_2 {
	left: 87%;
	bottom: 100%;
}

.letter_t .runner-gate_1 {
	left: 15%;
}

.letter_t .runner-gate_2 {
	left: 87%;
	top: -100%;
}

.letter_f .runner-gate_1 {
	left: 83%;
}

.letter_f .runner-gate_2 {
	left: 17%;
}

.letter_l .runner-gate_1 {
	left: 20%;
}

.letter_l .runner-gate_2 {
	left: 83%;
}

/* ホーム　ワークス */
.home-works {
	width: 45.5vw;
	height: 31.75vw;
}

.home-about h2 {
	bottom: 0;
}

h2 {
	letter-spacing: 0.5vw;
	font-size: 1.5vw;
	position: absolute;
	background-color: #0071BC;
	width: fit-content;
	padding: 1.3vw 2.5vw;
}

.screan {
	height: 24.25vw;
	width: 40.5vw;
	background-color: #747474;
	margin: auto;
}

.home-about {
	height: 31.75vw;
	position: relative;
	display: flex;
	flex-direction: column;
}

.runner_height {
	position: absolute;
	bottom: 0;
}

.relative {
	position: relative;
	width: 1vw;
}

.flex-box {
	display: flex;
}

.runners_1 .runner-gate_1 {
	margin-left: 16vw;
	height: 5vw;
}

.runners_1 .runner-gate_2 {
	margin-left: 19.5vw;
	height: 5vw;
}

.runners_1 .runner-top {
	height: 4.5vw;
}

.runners_1 .gate_y {
	height: 5vw;
}

.runners_2 {
	justify-content: space-between;
	padding: 0 10vw;
}

/* アバウト */
#about {
	position: fixed;
	height: calc(100vh - 110px);
	width: 92vw;
	top: 110px;
	background-color: #ffffff;
	overflow: scroll;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;
}

#about .page-title {
	margin: 0 auto;
	width: fit-content;
}

.letter_a .runner-gate_1 {
	left: 13%;
}

.letter_a .runner-gate_2 {
	left: 86%;
	bottom: 100%;
}

.letter_u .runner-gate_1 {
	left: 14%;
}

.letter_u .runner-gate_2 {
	left: 86%;
	top: -100%;
}

.a {
	margin-left: 0.1vw;
	margin-right: 0.1vw;
}

.b {
	margin-left: -0.55vw;
	margin-right: -0.3vw;
}

.u {
	margin-left: -0.5vw;
	margin-right: -0.5vw;
}

/* アバウト プロフィール */
.text-container {
	width: 87vw;
	height: fit-content;
	border: 1vw solid #0071BC;
	border-radius: 2vw;
	padding: 2vw 3vw;
	color: #0071BC;
}

.text-container h3 {
	font-size: 2.8em;
	font-weight: 700;
}

.kari {
	height: 50vw;
}

h6 {
	font-size: 1.2em;
	font-weight: 300;
	margin-left: 1vw;
}

.name {
	letter-spacing: 0.1em;
	align-items: flex-end
}

.profile-text {
	margin-top: 2vw;
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 2em;
}

.profile-text-space {
	height: 1vw;
}

/* アバウト スキルズ */
.skill-box {
	height: calc(100% - 8vw);
	width: 28vw;
	border: 1vw solid #0071BC;
	border-radius: 2vw;
	padding: 2vw 3vw;
	color: #0071BC;
	text-align: center;
	position: relative;
}

.skills .runners_y {
	margin: 0 7vw;
}

.skills .runners_x {
	margin: 7vw 0;
	padding: 7vw 0 2.5vw;
}

.runners-long .runner-gate_y {
	height: 5.5vw;
}

.runners-long .gate_y {
	height: 5.5vw;
}

.runners-long .runner-top {
	height: 5vw;
}

.skill-container {
	margin-right: 1.5vw;
}

.skills h3 {
	font-size: 3vw;
	font-weight: 600;
	letter-spacing: 0.1vw;
}

.skill-icon {
	width: 75%;
}

.icon-flame {
	height: 17vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.skill-text {
	font-size: 1em;
	font-weight: 500;
	margin-bottom: 3vw;
}

p {
	text-align: left;
	letter-spacing: 0.1em;
	line-height: 1.8em;
}

.skill-tool {
	font-weight: 200;
	font-size: 1vw;
	bottom: 2vw;
	position: absolute;
}

/* アバウト ストレングス */
.strength {
	height: fit-content;
}

.strength-margin {
	margin-bottom: 1.5vw;
}

.strength h3 {
	font-size: 1.4em;
	font-weight: 500;
	letter-spacing: 0.1em;
	width: 37vw;
	padding-right: 1em;
}

.strength-container {
	width: 87vw;
	height: fit-content;
	border: 1vw solid #0071BC;
	border-radius: 2vw;
	padding: 2vw 3vw;
	color: #0071BC;
}

.strength-text {
	font-size: 1em;
	font-weight: 400;
	letter-spacing: 0.1em;
	line-height: 2em;
	width: 50vw;
}

.strength .runners_x {
	margin: 4vw 0;
}

/* ワークス */
#works {
	position: fixed;
	height: calc(100vh - 110px);
	width: 92vw;
	top: 110px;
	background-color: #ffffff;
	overflow: scroll;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;
}

#works .page-title {
	margin: 0 auto;
	width: fit-content;
}

.w {
	margin-left: -0.3vw;
	margin-right: -0.9vw;
}

.k {
	margin-left: -0.5vw;
	margin-right: -0.4vw;
}

.s {
	margin-left: -0.4vw;
	margin-right: -0.6vw;
}

.letter_w .runner-gate_1 {
	left: 54%;
}

.letter_w .runner-gate_2 {
	left: 28%;
}

.letter_w .runner-gate_3 {
	left: 79%;
	bottom: 100%;
}

.letter_k .runner-gate_1 {
	left: 17%;
}

.letter_k .runner-gate_2 {
	left: 91%;
	top: -100%;
}

.letter_k .runner-gate_3 {
	left: 17%;
}

.letter_k .runner-gate_4 {
	left: 91%;
	bottom: 100%;
}

.works-container {
	width: 87vw;
	height: fit-content;
	border: 1vw solid #0071BC;
	border-radius: 2vw;
	padding: 3vw;
}

.works-content {
	gap: 2vw;
	justify-content: center;
	align-items: center;
}

.works-space {
	height: 3vw;
}

.runners_y {
	justify-content: space-between;
	margin: 0 9.5vw;
}

.runners_x {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 7vw 0;
}

.work-image {
	height: 17vw;
	width: 25vw;
	background-color: #696969;
}

.work-text {
	width: 25vw;
	margin: 0 auto;
	color: #0071BC;
	padding: 1vw;
	font-size: 1.4vw;
}

h3 {
	font-weight: 700;
}

.work-tag {
	margin-top: 0.5vw;
	font-weight: 200;
}

h4 {
	color: #0071BC;
	font-size: 6vw;
}

.bg-blue {
	background-color: #0071BC;
	height: 20vw;
}

.bg-white {
	background-color: #ffffff;
	width: calc(100vw - 8vw);
	height: 16vw;
	border-bottom-left-radius: 2vw;
	border-bottom-right-radius: 2vw;
}

.address {
	justify-content: center;
	padding-top: 4.5vw;
}

.arrow-line {
	margin: 4vw 0 0 2vw;
	background-color: #0071BC;
	width: 5vw;
	height: 1vw;
	transform: rotate(-45deg);
	position: relative;
}

.arrow-line::after {
	content: '';
	display: block;
	border: 1vw solid #0071BC;
	border-left: none;
	border-bottom: none;
	width: 4vw;
	height: 4vw;
	transform: rotate(45deg);
	transform-origin: top right;
	position: absolute;
	right: -1vw;
	top: 0.5vw;
}

/* ワーク１ */
.work {
	position: fixed;
	height: calc(100vh - 110px);
	width: 92vw;
	top: 110px;
	background-color: #ffffff;
	overflow: scroll;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;
}

.work h1 {
	font-size: 5vw;
}

.work-title {
	width: 87vw;
	height: fit-content;
	border: 1vw solid #0071BC;
	border-radius: 2vw;
	padding: 4vw 3vw 3vw;
	color: #0071BC;
	text-align: center;
}

.mock-up-container {
	margin: 5.5vw 0;
}

.mock-up {
	justify-content: space-between;
	width: 81vw;
}

.phone {
	height: 35vw;
	margin-left: -0.2vw;
}

.pc {
	height: 35vw;
	margin-right: -4.7vw;
}

.mock-up-container .runners-left .gate_x {
	width: 5.7vw;
}

.mock-up-container .runners-left .runner-left {
	width: 5.2vw;
}

.mock-up-container .runners-left .runner-gate_x {
	width: 5.7vw;
}

.mock-up-container .runners-right .gate_x {
	width: 10.2vw;
}

.mock-up-container .runners-right .runner-right {
	width: 9.7vw;
}

.mock-up-container .runners-right .runner-gate_x {
	width: 10.2vw;
}

.work-outline {
	font-size: 1.2em;
	font-weight: 500;
	letter-spacing: 0.1em;
	line-height: 3em;
}