@charset "UTF-8";

/* 共通部分
--------------------------- */
html {
	font-size: 100%;
}

body {
	line-height: 1;
	color: #000000;
	background-color: #ffffff;
	overscroll-behavior: none;
}

.font-english {
	font-family: trade-gothic-next, sans-serif;
	font-style: normal;
}

.font-japanese {
	font-family: source-han-sans-japanese, sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #ffffff;
}

img {
	max-width: 100%;
}

.page {
	display: none;
}

.page.active {
	display: block;
}

.container {
	width: 95vw;
	margin: 0 auto;
	position: relative;
}

.flex-box {
	display: flex;
}

h1 {
	font-size: 8vw;
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	padding-top: 8vw;
}

h2 {
	font-size: 5vw;
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	margin-top: 10vw;
}

.border {
	height: 0.1vw;
	background-color: #000000;
	margin-top: 0.6vw;
	margin-bottom: 1.5vw;
}

.title-bg {
	background-color: #7a7a7a;
	height: 21vw;
	width: 100vw;
	position: absolute;
	left: -2.5vw;
	z-index: -1;
}

p {
	font-size: 1.1vw;
	font-weight: 400;
	letter-spacing: 0.1vw;
	line-height: 2.5;
	text-align: justify;
	text-justify: inter-ideograph;
}

/* デスクトップ版
--------------------------- */
/* @media (min-width: 800px) { */

/* ヘッダー */
header {
	position: absolute;
	align-items: center;
	height: 5vw;
	width: 95vw;
	font-weight: 700;
	letter-spacing: 0.2vw;
	font-size: 1.2vw;
	z-index: 5;
	color: #000000;
}

.icon {
	flex: 1;
	position: relative;
}

.icon a {
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 700;
	font-size: 2.8vw;
	letter-spacing: 0;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}

.icon a:hover {
	color: #000000;
}

.main-nav {
	list-style: none;
	gap: 3vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav {
	flex: 3;
	position: relative;
}

.button {
	flex: 1;
	position: relative;
}

.button a {
	color: #000000;
	width: fit-content;
	padding: 0.7vw 1.5vw 0.75vw;
	border-radius: 5vw;
	border: 0.3vw solid #000000;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
}

.button a:hover {
	background-color: #ffffff;
}

/* .button a:hover::after {
	background-image: url(../images/link_arrow_black.png);
} */

.button a::after {
	content: '';
	display: inline-block;
	width: 1vw;
	height: 1vw;
	background-image: url(../images/link_arrow_black.png);
	background-size: contain;
	vertical-align: bottom;
}

/* ホーム */
.title_img {
	position: absolute;
	top: 5vw;
}

.top-img {
	position: absolute;
	left: -2.5vw;
	width: 100vw;
	height: 80vw;
	top: 0;
	z-index: -3;
	background-image: url(../images/top.png);
	background-size: 135%;
	background-position: bottom;
}

.top-png {
	position: absolute;
	left: -2.5vw;
	width: 100vw;
	height: 80vw;
	top: 0;
	z-index: 1;
	background-image: url(../images/top_front.png);
	background-size: 135%;
	background-position: bottom;
}

#home .space {
	height: 80vw;
}

/* ホーム・ワークス */
.works-img .flex-box {
	justify-content: space-between;
}

.img-big {
	width: 63vw;
	height: 42vw;
}

.img-small {
	display: flex;
	flex-direction: column;
	gap: 1vw;
}

.img-small img {
	width: 31vw;
	height: 20.5vw;
}

/* ホーム・アバウト */
.profile .contents {
	justify-content: space-between;
}

.profile img {
	width: 31vw;
	height: 20.5vw;
}

.profile .text {
	padding: 2.5vw;
	margin: auto 0;
}

.name {
	align-items: flex-end;
}

.profile h3 {
	font-size: 3.5vw;
	letter-spacing: 0.2vw;
}

h4 {
	letter-spacing: 0.1vw;
	font-size: 1.1vw;
	font-weight: 800;
}

.profile p {
	margin-top: 1.5vw;
}

/* アバウト */
#about .profile img {
	width: 31vw;
	height: 40vw;
}

.skills .flex-box {
	justify-content: space-between;
}

.skill {
	width: 31vw;
	padding: 2.5vw;
	text-align: center;
	padding-bottom: 0;
}

.skill img {
	width: 65%;
}

.skill h3 {
	font-size: 3.6vw;
	font-weight: 700;
	margin-bottom: 0.5vw;
	letter-spacing: 0.1vw;
}

.skill-icon {
	height: 19.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tag {
	margin-top: 2vw;
	font-size: 1vw;
	color: #7a7a7a;
}

.strength p {
	width: 63vw;
	padding: 2.5vw;
}

.strength h3 {
	width: 32vw;
	padding: 2.5vw;
	font-size: 1.4vw;
	font-weight: 700;
	letter-spacing: 0.1vw;
	line-height: 1.6;
}

/* ワークス */
#works img {
	width: 31vw;
	height: 20.5vw;
}

.works {
	padding-top: 5vw;
}

#works .flex-box {
	justify-content: space-between;
	margin-top: 5vw;
}

.works h3 {
	font-size: 1.6vw;
	font-weight: 700;
	letter-spacing: 0.1vw;
	margin: 1vw 0;
}

#works .tag {
	margin-top: 0;
	line-height: 1;
	font-size: 1.1vw;
}

#works {
	padding-bottom: 5vw;
}

#works a {
	color: #000000;
}

/* ワーク */
.work-top {
	position: absolute;
	height: 52vw;
	width: 100vw;
	overflow: hidden;
	left: -2.5vw;
}

.work .border {
	margin-bottom: 6vw;
}

.work .title-container {
	height: 52vw;
	position: relative;
}

.work .title-bg {
	height: 52.1vw;
	background-size: cover;
	width: 100.1vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.space {
	height: 52vw;
}

.work-title {
	position: absolute;
	bottom: 0;
	padding: 2.5vw;
}

.work-title h1 {
	font-weight: 700;
	font-size: 4vw;
	background-color: #000000dd;
	color: #ffffff;
	padding: 1vw;
	width: fit-content;
}

.work-title p {
	margin-top: 1vw;
	width: 55vw;
	background-color: #000000dd;
	color: #ffffff;
	padding: 1vw;
}

.overview p {
	padding: 2.5vw;
}

.overview h3 {
	font-size: 3vw;
	font-weight: 700;
	padding: 0 2.5vw;
}

.outline p {
	width: 63vw;
	padding: 1vw 2.5vw;
	font-size: 1vw;
}

.outline h3 {
	width: 32vw;
	padding: 1vw 2.5vw;
	font-size: 1vw;
	font-weight: 700;
	letter-spacing: 0.1vw;
	line-height: 2.5;
	color: #7a7a7a;
}

/* ワーク１ */

/* ワーク２ */
#work_2 .title-bg {
	background-image: url(../images/pukapuka_daisakusen.jpg);
}

.overview {
	margin-bottom: 10vw;
}

.steps {
	gap: 1vw;
}

.step {
	width: 31vw;
}

.step h4 {
	font-size: 2.5vw;
	font-weight: 700;
	padding: 5vw 2.5vw 3vw;
}

.illust {
	width: 26vw;
	height: 20vw;
	margin: 0 auto;
	background-size: contain;
	background-position: bottom;
}

.illust_1 {
	background-image: url(../images/tsukuru.png);
}

.illust_2 {
	background-image: url(../images/ukaberu.png);
}

.illust_3 {
	background-image: url(../images/kangaeru.png);
}

.triangle {
	height: 5vw;
	width: 26vw;
	background-color: #000000;
	margin: 3vw auto;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#work_2 h5 {
	font-size: 2.3vw;
	font-weight: 500;
	text-align: center;
	line-height: 1.8;
}

#work_2 h5 span{
	font-size: 3.5vw;
	font-weight: 700;
	letter-spacing: 0.1vw;
	border-bottom: 0.4vw solid #000000;
}

/* フッター */
section {
	padding-bottom: 10vw;
}

footer {
	background-color: #000000;
	color: #ffffff;
	height: fit-content;
	padding: 0 2.5vw;
	text-align: center;
}

footer h2 {
	margin-top: 0;
	font-size: 2vw;
}

footer h3 {
	margin-top: 2vw;
	font-size: 5vw;
}

footer .main-nav {
	gap: 5vw;
	font-weight: 700;
	letter-spacing: 0.2vw;
	font-size: 1.1vw;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	color: #7a7a7a;
}

footer img {
	width: 31vw;
	margin: 6vw 0;
}

footer .border {
	background-color: #ffffff;
	margin-top: 5vw;
	margin-bottom: 0;
}

h6 {
	font-size: 0.8vw;
	font-weight: 200;
	padding: 0.9vw 0;
	height: fit-content;
}