@charset "UTF-8";

/* 共通部分・デスクトップ版
--------------------------- */
html {
	font-size: 1vw;
}

body {
	line-height: 1;
	color: #000000;
	background-color: #ffffff;
	overscroll-behavior: none;
}

.font-english {
	font-family: trade-gothic-next, sans-serif;
	font-style: normal;
}

.font-japanese {
	font-family: source-han-sans-japanese, sans-serif;
	font-style: normal;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	color: #ffffff;
}

img {
	max-width: 100%;
}

.page {
	display: none;
}

.page.active {
	display: block;
}

.container {
	width: 95vw;
	margin: 0 auto;
	position: relative;
}

.flex-box {
	display: flex;
}

.title-bg h1 {
	font-size: 8rem;
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	margin-left: 2.5vw;
	position: absolute;
	bottom: 5vw;
}

h2 {
	font-size: 5rem;
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 800;
	font-style: normal;
	margin-top: 10vw;
}

.border {
	height: 0.1vw;
	background-color: #000000;
	margin-top: 0.6vw;
	margin-bottom: 1.5vw;
}

.title-bg {
	height: 21vw;
	width: 100vw;
	position: absolute;
	left: -2.5vw;
	z-index: -1;
	background-image: url(../images/top.jpg);
	background-size: cover;
}

.title-bg-space {
	height: 21vw;
}

p {
	font-size: 1.1rem;
	font-weight: 400;
	letter-spacing: 0.1vw;
	line-height: 2.5;
	text-align: justify;
	text-justify: inter-ideograph;
}

.img-link {
	transition: filter 0.1s ease;
}

.img-link:hover {
	filter: brightness(0.8);
}

/* ヘッダー */
header {
	position: absolute;
	align-items: center;
	height: 5vw;
	width: 95vw;
	font-weight: 700;
	letter-spacing: 0.2vw;
	font-size: 1.2rem;
	z-index: 5;
	color: #000000;
}

.icon {
	flex: 1;
	position: relative;
}

.icon a {
	font-family: trade-gothic-next-condensed, sans-serif;
	font-weight: 700;
	font-size: 2.8rem;
	letter-spacing: 0;
	position: absolute;
	top: 50%;
	left: 0%;
	transform: translateY(-50%);
}

.icon a:hover {
	color: #000000;
}

.main-nav {
	list-style: none;
	gap: 3vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

nav {
	flex: 3;
	position: relative;
}

.button {
	flex: 1;
	position: relative;
}

.button a {
	color: #000000;
	width: fit-content;
	padding: 0.7vw 1.5vw 0.75vw;
	border-radius: 5vw;
	border: 0.25vw solid #000000;
	position: absolute;
	top: 50%;
	right: 0%;
	transform: translateY(-50%);
}

.button a:hover {
	background-color: #ffffff;
}

.button a::after {
	content: '';
	display: inline-block;
	width: 1rem;
	height: 1rem;
	background-image: url(../images/link_arrow_black.png);
	background-size: contain;
	vertical-align: bottom;
}

/* ホーム */
.title_img {
	top: 5vw;
	position: absolute;
}

.top-img {
	height: 80vw;
	background-size: 135%;
	position: absolute;
	left: -2.5vw;
	width: 100vw;
	top: 0;
	background-position: bottom;
}

.top-img_1 {
	z-index: -3;
	background-image: url(../images/top.jpg);
}

.top-img_2 {
	z-index: 1;
	background-image: url(../images/top_front.png);
}

#home .space {
	height: 80vw;
}

/* ホーム・ワークス */
.works-img .flex-box {
	justify-content: space-between;
}

.img-big {
	width: 63vw;
	height: 42vw;
	background-position: center;
	background-size: cover;
}

.img-small {
	width: 31vw;
	height: 20.5vw;
	background-position: center;
	background-size: cover;
}

#home .work_2 {
	margin-bottom: 1vw;
}

/* ホーム・アバウト */
.profile .contents {
	justify-content: space-between;
}

.profile img {
	width: 31vw;
}

.profile .text {
	padding: 2.5vw;
	margin: auto 0;
}

.name {
	align-items: flex-end;
}

.profile h3 {
	font-size: 3.5rem;
	letter-spacing: 0.2vw;
}

h4 {
	letter-spacing: 0.1vw;
	font-size: 1.1rem;
	font-weight: 800;
}

.profile p {
	margin-top: 1.5vw;
}

/* アバウト */
#about .profile img {
	width: 31vw;
	height: 40vw;
}

.skills .flex-box {
	justify-content: space-between;
}

.skill {
	width: 31vw;
	padding: 2.5vw;
	text-align: center;
	padding-bottom: 0;
}

.skill img {
	width: 65%;
}

.skill h3 {
	font-size: 3.6rem;
	font-weight: 700;
	margin-bottom: 0.5vw;
	letter-spacing: 0.1vw;
}

.skill-icon {
	height: 19.5vw;
	display: flex;
	align-items: center;
	justify-content: center;
}

.tag {
	margin-top: 2vw;
	font-size: 1rem;
	color: #7a7a7a;
}

.strength p {
	width: 63vw;
	padding: 2.5vw;
}

.strength h3 {
	width: 32vw;
	padding: 2.5vw;
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 0.1vw;
	line-height: 1.6;
}

/* ワークス */
.work-img {
	width: 31vw;
	height: 20.5vw;
	background-position: center;
	background-size: cover;
}

.works {
	padding-top: 5vw;
}

#works .flex-box {
	justify-content: space-between;
	margin-top: 5vw;
}

.works h3 {
	font-size: 1.6rem;
	font-weight: 700;
	letter-spacing: 0.1vw;
	margin: 1vw 0;
}

#works .tag {
	margin-top: 0;
	line-height: 1;
	font-size: 1.1rem;
}

#works {
	padding-bottom: 5vw;
}

#works a {
	color: #000000;
}

.work_1 {
	background-image: url(../images/portfolio.jpg);
}

.work_2 {
	background-image: url(../images/pukapuka.jpg);
}

.work_3 {
	background-image: url(../images/ohtori.jpg);
}

.work_4 {
	background-image: url(../images/akeome.jpg);
}

.work_5 {
	background-image: url(../images/sotsuibe.jpg);
}

.work_6 {
	background-image: url(../images/shinkan.jpg);
}

.work_7 {
	background-image: url(../images/debyuibe.jpg);
}

.work_8 {
	background-image: url(../images/ohtori_t.jpg);
}

/* ワーク */
.work-top {
	position: absolute;
	height: 100vh;
	width: 100vw;
	overflow: hidden;
	left: -2.5vw;
}

.work .border {
	margin-bottom: 6vw;
}

.work .title-container {
	height: 100vh;
	position: relative;
}

.work .title-bg {
	height: 100vh;
	background-size: cover;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-position: center;
}

.space {
	height: 100vh;
}

.work-title {
	position: absolute;
	bottom: 0;
	padding: 2.5vw;
}

.work-title h1 {
	font-weight: 700;
	font-size: 4rem;
	background-color: #000000dd;
	color: #ffffff;
	padding: 1vw;
	width: fit-content;
}

.work-title p {
	margin-top: 1vw;
	width: 55vw;
	background-color: #000000dd;
	color: #ffffff;
	padding: 1vw;
}

.overview p {
	padding: 2.5vw;
}

.overview h3 {
	font-size: 3rem;
	font-weight: 700;
	padding: 0 2.5vw;
}

.outline p {
	width: 63vw;
	padding: 2vw 2.5vw;
	font-size: 1rem;
}

.outline h3 {
	width: 32vw;
	padding: 2vw 2.5vw;
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.1vw;
	line-height: 2.5;
	color: #7a7a7a;
}

.visuals .flex-box {
	gap: 1vw;
}

.visuals h3 {
	padding: 5vw 0 1vw;
	font-size: 2rem;
}

.visual {
	width: 31vw;
}

.shadow {
	box-shadow: 0 0 0.2vw 0 #7a7a7a;
}

/* ワーク１ */

/* ワーク２ */
.overview {
	margin-bottom: 10vw;
}

.steps {
	gap: 1vw;
}

.step {
	width: 31vw;
}

.step h4 {
	font-size: 2.5rem;
	font-weight: 700;
	padding: 5vw 2.5vw 3vw;
}

.illust {
	width: 26vw;
	height: 20vw;
	margin: 0 auto;
	background-size: contain;
	background-position: bottom;
}

.illust_1 {
	background-image: url(../images/tsukuru.png);
}

.illust_2 {
	background-image: url(../images/ukaberu.png);
}

.illust_3 {
	background-image: url(../images/kangaeru.png);
}

.triangle {
	height: 5vw;
	width: 26vw;
	background-color: #000000;
	margin: 3vw auto;
	clip-path: polygon(0 0, 100% 0, 50% 100%);
}

#work_2 h5 {
	font-size: 2.3rem;
	font-weight: 500;
	text-align: center;
	line-height: 1.8;
}

#work_2 h5 span {
	font-size: 3.5rem;
	font-weight: 700;
	letter-spacing: 0.1vw;
	border-bottom: 0.4vw solid #000000;
}

#work_2 .visuals .logo {
	width: 31vw;
	padding: 2.5vw;
}

/* ワーク４ */

/* ワーク５ */

/* フッター */
section {
	padding-bottom: 10vw;
}

footer {
	background-color: #000000;
	color: #ffffff;
	height: fit-content;
	padding: 0 2.5vw;
	text-align: center;
}

footer h2 {
	margin-top: 0;
	font-size: 2rem;
}

footer h3 {
	margin-top: 2vw;
	font-size: 5rem;
}

footer .main-nav {
	gap: 5vw;
	font-weight: 700;
	letter-spacing: 0.2vw;
	font-size: 1.1rem;
}

footer a {
	color: #ffffff;
}

footer a:hover {
	color: #7a7a7a;
}

footer img {
	width: 31vw;
	margin: 6vw 0;
}

footer .border {
	background-color: #ffffff;
	margin-top: 5vw;
	margin-bottom: 0;
}

h6 {
	font-size: 0.8rem;
	font-weight: 200;
	padding: 0.9vw 0;
	height: fit-content;
}

/* スマホ版
--------------------------- */
@media (max-width: 800px) {
	html {
		font-size: 2.5vw;
	}

	.title-bg {
		height: 40vw;
	}

	.title-bg-space {
		height: 50vw;
	}

	/* ヘッダー */
	header {
		height: 8vw;
	}

	.icon {
		flex: 0;
	}

	.icon a {
		font-size: 1.5rem;
		width: 30vw;
	}

	header .main-nav {
		flex: 0;
		font-size: 1rem;
		text-align: right;
		top: 50%;
		right: 0%;
		transform: translate(0%, -50%);
	}

	.button {
		display: none;
		flex: 0;
	}

	/* ホーム */
	.title_img {
		top: 8vw;
	}

	.top-img {
		height: 95vh;
		background-size: cover;
	}

	#home .space {
		height: 95vh;
	}

	/* ホーム・ワークス */
	.works-img .flex-box {
		flex-direction: column;
		gap: 1vw;
	}

	.img-big {
		width: 95vw;
		height: 63vw;
		background-position: center;
		background-size: cover;
	}

	.img-smalls {
		display: flex;
		gap: 1vw;
	}

	.img-small {
		width: 47vw;
		height: 31vw;
		background-position: center;
		background-size: cover;
	}

	#home .work_2 {
		margin-bottom: 0
	}

	/* ホーム・アバウト */
	.profile .flex-box {
		flex-direction: column;
		gap: 3vw;
	}

	.profile img {
		width: 95vw;
	}

	.profile .text .flex-box {
		flex-direction: row;
	}

	/* アバウト */
	#about .profile img {
		width: 50vw;
		margin: 3vw auto 0;
		height: fit-content;
	}

	#about .profile .flex-box {
		flex-direction: column-reverse;
	}

	#about .profile .text .flex-box {
		flex-direction: row;
	}

	.skills .flex-box {
		flex-direction: column;
		gap: 10vw;
	}

	.skill {
		width: 95vw;
		padding: 2.5vw;
	}

	.skill-icon {
		width: 75%;
		height: 100%;
		padding: 10vw 0;
		margin: 0 auto;
	}

	.strength .flex-box {
		flex-direction: column;
	}

	.strength p {
		width: 95vw;
		padding-top: 0vw;
		padding-bottom: 5vw;
	}

	.strength h3 {
		width: 95vw;
		padding-bottom: 1.5vw;
		font-size: 2rem;
	}

	/* ワークス */
	.works .flex-box {
		flex-direction: column;
		gap: 10vw;
	}

	.work-img {
		width: 95vw;
		height: 63vw;
		background-position: center;
		background-size: cover;
	}

	/* ワーク */
	.work-title h1 {
		font-size: 3rem;
	}

	.work-title p {
		width: 95vw;
	}
}